@import "tailwindcss";

@theme {
  --color-primary: #9e6264;
  --color-primary-light: #c08d8f;
  --color-primary-dark: #7a4749;

  --color-secondary: #f9f3ee;
  --color-secondary-dark: #ece1d6;

  --color-text: #2b2024;

  --font-display: var(--font-display);
}